body{
    text-align: center;
}
h1{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}
#app{
    background-color: aqua;
}
#myCarousel{
    background-color: burlywood;
}
#myCarousel img{
    height: 300px;
     margin-top :35px;
}
 .carousel-inner p{
     margin: 15px;
     color:white;
     font-size: 20px;
 }
#chatbot{
background-color: firebrick;
}
.line{
    height: 6px;
    width: 70px;
    margin: 5px auto;
    background-color: black;
}